body {
  font-family: "Nunito", sans-serif;
}

.animate-bounce-custom {
  animation: bounce-custom 1s infinite;
}

@keyframes bounce-custom {
  0%,
  100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
